<hr class="hr-line" id="about">
<section class="about">
 
    <p>Bonjour</p>
    <p>Je m'appelle <span class="nomSpan">Melin</span><span class="prenomSpan">Cyril</span></p>
    <p>Développeur web, ex-animateur chez SONY et vendeur en grande surface dans le secteur des jeux vidéo. J'ai acquis des compétences en écoute, conseil et satisfaction client.</p>
    <p>Passionné de programmation, j'ai lancé une activité en développement d'applications. Diplômé concepteur et développeur Web de niveau 6 (bases de données, API, .NET, Node.js, AngularJS).</p>
    <p>Je propose mes services à un taux horaire de 40 euros.</p>
    <p>Je fais de la veille technique et technologique pour rester en phase avec le marché.</p>
    
    

  

</section>


